/*estiquetas         <---Orden Alfabético
identificadores
clases
pseudoelementos*/

body
{
	/*atributos:valor;*/
	background: rgb(10, 150, 150);  /*fondo*/
	color: #000000;                 /*letra*/
	max-width: 1024px;              /*ancho maximo*/
	margin: 0 auto;


	/*margin: vertical horizontal  ... si se le da un solo parametro se aplica en todos lados en vertical y horizontal*/
	/*margin: arriba derecha abajo izquierda ... margin: 5px 2px 10px 50px*/
	/*padding--> maneja o controla los margenes internos del texto y se colocan los mismos atributos que margin.*/
	/*color: hotpink;*/

}

body header
{

	background: rgb(0 50 100);
	border: 2px solid black;
	border-radius: 10px;
	box-shadow: 2px 2px black;
	color: black;
	text-align: center;
}

body header h1
{
	font-family: 'Lora', serif;
	background: blue;
	border-radius: 2px;
	color: white;
	text-shadow: 3px 3px 3px black;
	
	text-align: center;
}

header img
{
	float: right;
	margin-right: 10px;
	margin-top: 5px;
	width: 80px;
}

body header nav ul li
{
	font-family: 'Titillium Web', sans-serif;
	/*border: 1px solid black;*/
	background: rgb(0 50 100);
	border: 20px;
	border-radius: 4px;
	box-shadow: -3px -3px blue;                 /*es para poner sombras, derecha, abajo, color; si se coloca numero negativo es hacia la derecha y arriba*/
	color: black;
	display: inline-block;	
	margin: 0px 10px;
	padding: 5px 35px 5px 35px;
}

body header nav ul li:hover  /*Al pasar el mouse cambia el color*/
{
	font-family: 'PT Sans Narrow', sans-serif;
	background: black;
	color: white;
}

/*Aquí van los id´s*/
#seccion1
{
	font-family: 'Open Sans Condensed', sans-serif;
	border: 10px solid blue;
}

#seccion1 article
{
	font-family: 'Titillium Web', sans-serif;
	border: 10px solid black;
	display: inline-block;
	vertical-align: top;
	width: 47.7%;
}
#seccion2
{
	font-family: 'Lora', cursive;
} 









