body
{
	max-width: 1024px;
	font-size: 16px;
	margin: 0 auto;
	text-align: center;
}

body h1
{
	color: black;
	font-weight: bold;
	font-size: 1.5em;
}

table
{
	border-collapse: collapse;
	margin: 0 auto;
	margin-top: 50px;
	
}
form input[type="button"]
{
	border: none;
	color: black;
	font-size: 8em;
	font-weight: bold;
	margin: 0 auto;
	width: 200px;
	height: 200px;
	background: white;
}


#tr1, #tr2
{
	border-bottom: 7px solid red;
}

#partidas
{
	border: none;
	color: black;
	font-size: 1.1em;
	margin: 0 auto;
	margin-left: 20px;
	width: 20px;
	background: white;
}

.botones
{
	border-right: 7px solid red;
} 


/*#boton1
{
	border-right: 4px solid red;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid red;
}
#boton2
{
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid red;
}
#boton3
{
	border-right: none;
	border-top: none;
	border-left: 4px solid red;
	border-bottom: 4px solid red;
}
#boton4
{
	border-right: 4px solid red;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid red;
}
#boton5
{
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: 4px solid red;
}
#boton6
{
	border-right: none;
	border-top: none;
	border-left: 4px solid red;
	border-bottom: 4px solid red;
}
#boton7
{
	border-right: 4px solid red;
	border-top: none;
	border-left: none;
	border-bottom: none;
}
#boton8
{
	border-right: none;
	border-top: none;
	border-left: none;
	border-bottom: none;
}
#boton9
{
	border-left: 4px solid red;
}*/



